# Python files
__pycache__/
bibles/__pycache__
*.pyc

# Repo and testing files
.git*
.github/
*.sqlite
.dockerignore
Dockerfile
notes.txt
LICENSE
pictures/
docker-compose.yml
biblestore

# Optimization of container size
icon/
tests/
venv/
esv-api-key.txt
static/styles_readable.css
static/navigate_readable.js
static/search_readable.js
assets
assets/*
# This is grabbed from GH anyways, so ignore it
bibles/json-bibles/*

# Scripts
scripts
scripts/*

# Local build exclusions
bibles/json-bibles/esv.json
.idea/
bibles/json-bibles/csb.json
bibles/json-bibles/net.json
