icon.png
icon.svg
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ESV-web.iml
__pycache__/
*.pyc
dist/
build/
esv_web.egg-info/
notes.txt
.dockerignore
.git*
*.sqlite
Dockerfile
LICENSE
tests/
venv/
