__pycache__/
bibles/__pycache__
*.pyc
dist/
build/
self-hosted-bible.egg-info/
notes.txt
.dockerignore
.git*
*.sqlite
Dockerfile
LICENSE
tests/
venv/
esv-api-key.txt
icon/icon.png
icon/icon.svg
icon/
bibles/json-bibles/esv.json
.idea/
static/styles_readable.css
pictures/
.github/
bibles/json-bibles/csb.json
bibles/json-bibles/net.json
