icon.png
icon.svg
tests/gn1-3.txt
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ESV-web.iml
__pycache__/main.cpython-39.pyc
*.pyc
/verses.sqlite
/tests/verses.sqlite
dist/
build/
esv_web.egg-info/
