tests/gn1-3.txt
.idea/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ESV-web.iml
__pycache__/main.cpython-39.pyc
*.pyc
/verses.sqlite
/tests/verses.sqlite
dist/
build/
self_hosted_bible.egg-info/
notes.txt
tests/speedtest.py
.gitignore
scripts/*.json
scripts/*.xml

bibles/json-bibles/amp.json
bibles/json-bibles/amp.json.pbz2
bibles/json-bibles/btx3.json.pbz2
bibles/json-bibles/csb.json
bibles/json-bibles/csb.json.pbz2
bibles/json-bibles/esv.json
bibles/json-bibles/esv.json.pbz2
bibles/json-bibles/esv_min.json.pbz2
bibles/json-bibles/lsb.json.pbz2
bibles/json-bibles/msg.json
bibles/json-bibles/msg.json.pbz2
bibles/json-bibles/nasb1995.json
bibles/json-bibles/nasb1995.json.pbz2
bibles/json-bibles/net.json
bibles/json-bibles/net.json.pbz2
bibles/json-bibles/niv1984.json
bibles/json-bibles/niv1984.json.pbz2
bibles/json-bibles/niv2011.json
bibles/json-bibles/niv2011.json.pbz2
bibles/json-bibles/nkjv.json
bibles/json-bibles/nkjv.json.pbz2
bibles/json-bibles/nlt.json
bibles/json-bibles/nlt.json.pbz2
bibles/json-bibles/rsv.json
bibles/json-bibles/rsv.json.pbz2
bibles/json-bibles/rv1960.json.pbz2
/docker-compose.yml
/biblestore/

.vscode/
AGENTS.md
