tests/gn1-3.txt
.idea/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/ESV-web.iml
__pycache__/main.cpython-39.pyc
*.pyc
/verses.sqlite
/tests/verses.sqlite
dist/
build/
self_hosted_bible.egg-info/
notes.txt
bibles/json_bibles/esv.json
tests/speedtest.py
bibles/json_bibles/csb.json
bibles/json_bibles/net.json
