/* Minify using https://www.minifier.org/ */
.tab,label {
    display: inline-block
}

.btn-default,.form-control,body {
    background-color: #fff
}

.nav>li>a,.navbar,.navbar-toggle {
    position: relative
}

.btn,.error {
    text-align: center
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333
}

h1 {
    margin: .67em 0
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

.h1,.h2,.h3,h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

.h4,.h5,.h6,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

.h1,h1 {
    font-size: 36px
}

.h2,h2 {
    font-size: 30px
}

.h3,h3 {
    font-size: 24px
}

.h4,h4 {
    font-size: 18px
}

.h5,h5 {
    font-size: 14px
}

.h6,h6 {
    font-size: 12px
}

button,input,optgroup,select,textarea {
    margin: 0;
    font: inherit;
    color: inherit
}

button {
    overflow: visible
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

button,input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}

.tab {
    margin-left: 40px
}

a:focus,a:hover {
    color: #23527c;
    text-decoration: underline
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.btn,.form-control {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none
}

label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700
}

.btn,th {
    font-weight: 400
}

.form-control {
    display: block;
    width: 100%;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.form-group {
    margin-bottom: 15px
}

.btn,.nav {
    margin-bottom: 0
}

.btn {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn-default {
    color: #333;
    border-color: #ccc
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.nav {
    padding-left: 0;
    list-style: none
}

.nav>li>a {
    display: block;
    padding: 10px 15px
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent
}

.navbar-collapse.in {
    overflow-y: auto
}

.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px
}

.navbar-brand:focus,.navbar-brand:hover {
    text-decoration: none
}

.navbar-toggle {
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.navbar-toggle:focus {
    outline: 0
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px
}

@media (min-width: 768px) {
    .navbar-header,.navbar-nav>li {
        float:left
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block;
        height: auto;
        padding-bottom: 0;
        overflow: visible
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .navbar-fixed-bottom .navbar-collapse,.navbar-fixed-top .navbar-collapse,.navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0
    }

    .container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header {
        margin-right: 0;
        margin-left: 0
    }

    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: -15px
    }

    .navbar-toggle {
        display: none
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808
}

.navbar-inverse .btn-link,.navbar-inverse .navbar-brand,.navbar-inverse .navbar-link,.navbar-inverse .navbar-nav>li>a,.navbar-inverse .navbar-text {
    color: #9d9d9d
}

.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #080808
}

.navbar-inverse .navbar-nav>.disabled>a,.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover {
    color: #444;
    background-color: transparent
}

.navbar-inverse .navbar-toggle {
    border-color: #333
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
    background-color: #333
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-inverse .navbar-collapse,.navbar-inverse .navbar-form {
    border-color: #101010
}

@media (max-width: 320px) {
    .navbar {
        margin-right: -1px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position:static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,.navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover {
        background-image: none
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .navbar-nav>li {
        float: left
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #9d9d9d
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: transparent
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #080808
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #444;
        background-color: transparent
    }
}

.navbar-inverse .btn-link:focus,.navbar-inverse .btn-link:hover,.navbar-inverse .navbar-link:hover {
    color: #fff
}

.navbar-inverse .btn-link[disabled]:focus,.navbar-inverse .btn-link[disabled]:hover,fieldset[disabled] .navbar-inverse .btn-link:focus,fieldset[disabled] .navbar-inverse .btn-link:hover {
    color: #444
}

.passage-form {
    color: #333;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0;
    font-weight: 400;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    background-color: #fff;
}

.btn-nav {
    padding: 12px 14px;
    font-size: 14px;
    font-weight: 400
    line-height: 1.42857143;
    background-image: none;
    margin: 0;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #e6e6e6;
    border-color: transparent;
    height: auto;
}

[data-theme="light"] {
    html {
        background-color: #fff
    }
    .sr-only {
        color: #00;
    }
    .control-label,body,h2 {
        color:#333
    }

    .btn-default,.form-control,.passage-form {
        background-color: #fff;
        border-color: #ccc;
        color: #333
    }

    .navbar-inverse {
        background-color: #222
    }

    button,input,optgroup,select,textarea {
        color: inherit;
    }

    a {
        color: #9d9d9d
    }

    h4 {
        color: #inherit
    }

    p {
        color: #333
    }

    .navbar-inverse .navbar-brand {
        color: #9d9d9d
    }
    .sr-only {
        color: #fff
    }
    .btn-nav {
        background-color: #222;
    }
}

[data-theme="dark"] {

    .control-label,body,h2 {
        color:#fff
    }

    body {
        background-color: #212435
    }

    .btn-default,.form-control,.passage-form {
        background-color: #010420;
        border-color: #a5b5f5;
        color: #fff
    }

    .navbar-inverse {
        background-color: #000331
    }

    button,input,optgroup,select,textarea {
        color: #ededed;
        background: #000331;
    }

    a {
        color: #8080f1
    }

    h4 {
        color: #bdbdbd
    }

    p {
        color: #eaeaea
    }

    .navbar-inverse .navbar-brand {
        color: #e0e0e0
    }
    .btn-nav {
        background-color: #000331;
    }
}

@media (min-width: 1000px) {
    .row {
        display:inline-flex
    }

    .column {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        padding: 0 2%
    }
}

@media (max-width: 1000px) {
    .row {
        display:flex
    }

    .column {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        padding: 0 2%
    }
}

td {
    padding: 5px
}

th {
    text-align: left;
    padding: 0 0 5px 5px;
    font-size: 12px
}
