<!DOCTYPE html>
{% block doc -%}
<html lang="en">
<head>
    {%- block head %}
        <title>{% block title %}{{ title | default }}{% endblock title %}</title>
        {%- block metas %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="utf-8">
            <meta http-equiv="content-type" content="text/html; charset=utf-8">
        {%- endblock metas %}
        {%- block styles %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        {%- endblock styles %}
    {%- endblock head %}
</head>
{% block body %}
    {% block navbar %}
        <div class="navbar navbar-inverse mw-100" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Self-hosted Bible</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    <li><a href="/copyright">Copyright</a></li></ul>
                </div>
            </div>
        </div>
    {% endblock navbar %}
    {% block content %}
    {% endblock content %}
{% endblock body %}
</html>
{% endblock doc -%}
