{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ Reading }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

{% block content %}
<div class="container-fluid mw-100">
    <h2>{{ title }}</h2><h6>©{{ version }}</h6>
    <form method="post" role="form">
        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}

        <table>
            {% for verses in content %}
                <tr>
                    {% for verse in verses %}
                        <td>{{verse}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <br><br>

        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}
    </form>
</div>
{% endblock %}