{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    {{ super() }}
    {{ js_resources|indent(3)|safe }}
    {{ css_resources|indent(3)|safe }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}

{% block content %}
<div class="container-fluid mw-100">
    <h2>{{ content.get('book') }} {{ content.get('chapter') }}</h2>
    <form method="post" role="form">
        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}

        {% for heading, verses in content.get('verses').items() %}
            {% if heading != 'none'%}
                <h4><em>{{heading}}</em></h4>
            {% endif %}
            {% for verse in verses %}
                <p>{{verse}}</p>
            {% endfor %}
        {% endfor %}
        <br><br>
        {% if content.get('footnotes') %}
                <h5>Footnotes:</h5>
                <p>{{content.get('footnotes')}}</p>
        {% endif %}

        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}
    </form>
</div>
{% endblock %}