{% extends "base.html" %}
{% import "form_make.html" as wtf %}

{% block title %} Reading {% endblock %}
{% block content %}
<div class="container-fluid mw-100">
    <h2> {{ title }}</h2>
    <form method="post" role="form">
        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}
        <br><br>
        <table>
            <tbody>
                <tr>
                {% for v in version %}
                    <th>© {{ v }} </th>
                {% endfor %}
                </tr>
                {% for verses in content %}
                <tr>
                {% for verse in verses %}
                    <td>{{verse}}</td>
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}{{ wtf.form_field(form.next_button) }}
        <br><br>
    </form>
</div>
{% endblock %}