{% extends "base.html" %}
{% import "form_make.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container-fluid mw-100">
    <script>var chapterNumber = {{ content.get('chapter') }};</script>
    <form method="post" role="form">
        <div align="center">
            {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }}&#9;&#9;&#9;&#9; {{ wtf.passage_field(passage_form.book) }}{{ wtf.passage_field(passage_form.chapter) }}&#9;&#9;&#9;&#9; {{ wtf.form_field(form.next_button) }}<br>
            {{ wtf.passage_field(version_select.select_version) }}<br>
            {{ wtf.form_field(passage_form.submit) }}
        </div>
        <br><br>
        <h2>{{ content.get('book') }} {{ content.get('chapter') }}</h2>
        <h6>© {{ version }}</h6>
        {% for heading, verses in content.get('verses').items() %}
            {% if heading != 'none'%}
                <h4><em>{{ heading }}</em></h4>
            {% endif %}
            {% for verse in verses %}
                <p>{{ verse }}</p>
            {% endfor %}
        {% endfor %}
        <br><br>
        {% if content.get('footnotes') %}
                <h5>Footnotes:</h5>
                <p>{{ content.get('footnotes') }}</p>
        {% endif %}
        <div align="center">
            {{ form.hidden_tag() }}{{ wtf.form_field(form.previous_button) }} &#9;&#9;&#9;&#9; {{ wtf.form_field(form.next_button) }}
        </div>
        <br><br>
    </form>
    <script type="text/javascript" async="" src="{{ url_for('static', filename='navigate.js') }}"></script>
</div>
{% endblock %}