{% extends "bootstrap/base.html" %}
{% block title %}Page Not Found{% endblock %}
{% block body %}
<h1>ESV Copyright Notice:</h1>
<p>Scripture quotations marked “ESV” are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.</p>
<br>
<p>Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of the ESV Bible.</p>
{% endblock %}