{% extends "base.html" %}

{% block title %} Copyright Notice {% endblock %}

{% block content %}
<div class="container-fluid mw-100">
    <script>var book = "Genesis";var chapterNumber = 1;</script>
    <h2>AKJV Notice</h2>
    <p>This is a translation of the Bible based on the original King James Version. It is a simple word for word update from the King James English. Care has been taken to change nothing doctrinally, but to simply update the spelling and vocabulary. The grammar has not changed the grammar because that could alter the doctrine.<br><br>
    The American King James version of the Bible was placed into the public domain on November 8, 1999.<br><br>

    <b>Michael Peter (Stone) Engelbrite</b><br><br>

    You may use it in any manner you wish: copy it, sell it, modify it, etc.<br>
    You can't copyright it or prevent others from using it.
    A special thanks to Tye Rausch and Eve Engelbrite who helped tremendously on this project.
    You can't claim that you created it.</p>
    <p><a href="https://www.angelfire.com/al4/allenkc/akjv/" target="_blank" rel="noopener noreferrer">Homepage</a></p>
    <br>
    <h2>ACV Notice</h2>
    <p>A Conservative Version (ACV) was translated by Dr. Walter L. Porter. The ACV is in the public domain. <br>The translation can be accessed online at http://www.stillvoices.org.<br>Distribution license: Public Domain</p>
    <br>
    <h2>AMP Notice</h2>
    <p>Scriptures marked AMP are taken from the AMPLIFIED BIBLE (AMP): Scripture taken from the AMPLIFIED® BIBLE, Copyright © 1954, 1958, 1962, 1964, 1965, 1987 by the Lockman Foundation Used by Permission. (<a href="https://www.lockman.org/" target="_blank" rel="noopener noreferrer">www.Lockman.org</a>)</p>
    <br>
    <h2>ASV Notice</h2>
    <p>Scripture quotations marked “ASV” are taken from the American Standard Version Bible (Public Domain).</p>
    <br>
    <h2>BBE Notice</h2>
    <p>The Bible in Basic English is in the public domain. It was printed in 1965 by Cambridge Press in England without a copyright notice. When distributed in the United States, it fell into the public domain according to the UCC convention of that time.</p><br>
    <p>The Bible in Basic English uses “Basic English”, a simple form of the English language with a vocabulary of fewer than 1000 words.</p>
    <br>
    <h2>BSB Notice</h2>
    <p>The Holy Bible, Berean Standard Bible, BSB is produced in cooperation with <a href="//biblehub.com" target="_blank" rel="noopener noreferrer">Bible Hub</a>, <a href="//discoverybible.com" target="_blank" rel="noopener noreferrer">Discovery Bible</a>, <a href="//openbible.com" target="_blank" rel="noopener noreferrer">OpenBible.com</a>, and the Berean Bible Translation Committee. This text of God's Word has been <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="noopener noreferrer"> dedicated to the public domain</a>.</p>
    <br>
    <h2>CSB Notice</h2>
    <p>Scripture quotations marked CSB have been taken from the Christian Standard Bible®, Copyright © 2017 by Holman Bible Publishers. Used by permission. Christian Standard Bible® and CSB® are federally registered trademarks of Holman Bible Publishers.</p>
    <br>
    <h2>ESV Notice:</h2>
    <p>Scripture quotations marked “ESV” are from the ESV® Bible (The Holy Bible, English Standard Version®), copyright © 2001 by Crossway, a publishing ministry of Good News Publishers. Used by permission. All rights reserved. The ESV text may not be quoted in any publication made available to the public by a Creative Commons license. The ESV may not be translated into any other language.</p>
    <p>Users may not copy or download more than 500 verses of the ESV Bible or more than one half of any book of the ESV Bible.</p>
    <br>
    <h2>GNV Notice</h2>
    <p><i>Geneva Bible (1599)</i></p>
    <p>This digital copy is freely available world-wide, with no copyright restrictions, courtesy of eBible.org and many others.</p>
    <br>
    <h2>KJV Notice</h2>
    <p>Rights in The Authorized Version of the Bible (King James Bible) in the United Kingdom are vested in the Crown and administered by the Crown’s patentee, Cambridge University Press. The reproduction by any means of the text of the King James Version is permitted to a maximum of five hundred (500) verses for liturgical and non-commercial educational use, provided that the verses quoted neither amount to a complete book of the Bible nor represent 25 per cent or more of the total text of the work in which they are quoted, subject to the following acknowledgement being included:</p>
    <p><span class="tab">Scripture quotations from The Authorized (King James) Version. Rights in the Authorized Version in the United Kingdom are vested in the Crown. Reproduced by permission of the Crown’s patentee, Cambridge University Press</span></p>
    <p>When quotations from the KJV text are used in materials not being made available for sale, such as church bulletins, orders of service, posters, presentation materials, or similar media, a complete copyright notice is not required but the initials KJV must appear at the end of the quotation.</p>
    <p>Rights or permission requests (including but not limited to reproduction in commercial publications) that exceed the above guidelines must be directed to the Permissions Department, Cambridge University Press, University Printing House, Shaftesbury Road, Cambridge CB2 8BS, UK (<a href="https://www.cambridge.org/about-us/rights-permissions" target="_blank" rel="noopener noreferrer">https://www.cambridge.org/about-us/rights-permissions</a>) and approved in writing.</p>
    <br>
    <h2>LSV Notice</h2>
    <p>Scripture quotations marked “LSV” are taken from the Literal Standard Version (Creative Commons Attribution-ShareAlike license). See more <a href="https://www.lsvbible.com/" target="_blank" rel="noopener noreferrer">here</a> </p>
    <br>
    <h2>MSG Notice</h2>
    <p>Scripture quotations marked "MSG" are from THE MESSAGE. Copyright © by Eugene H. Peterson 1993, 2002, 2005, 2018. Used by permission of NavPress. All rights reserved. Represented by Tyndale House Publishers, Inc. </p>
    <br>
    <h2>NASB (1995) Notice</h2>
    <p>Scripture quotations taken from the (NASB®) New American Standard Bible®, Copyright © 1960, 1971, 1977, 1995 by The Lockman Foundation. Used by permission. All rights reserved. <a href="lockman.org" target="_blank" rel="noopener noreferrer">lockman.org</a> </p>
    <br>
    <h2>NET Notice</h2>
    <p>The Scriptures quoted are from the NET Bible® <a href="https://netbible.com" target="_blank" rel="noopener noreferrer">https://netbible.com</a> copyright ©1996, 2019 used with permission from Biblical Studies Press, L.L.C. All rights reserved</p>
    <p>To see the NET Bible® study tool go to <a href="https://netbible.org" target="_blank" rel="noopener noreferrer">https://netbible.org</a>.</p>
    <br>
    <h2>NIV Notice</h2>
    <p>The Holy Bible, New International Version®, NIV® Copyright © 1973, 1978, 1984, 2011 by Biblica, Inc.® Used with permission. All rights reserved worldwide.</p>
    <br>
    <h2>NKJV Notice</h2>
    <p>Scriptures marked NKJV are taken from the NEW KING JAMES VERSION (NKJV): Scripture taken from the NEW KING JAMES VERSION®. Copyright© 1982 by Thomas Nelson, Inc. Used by permission. All rights reserved. </p>
    <p><a href="https://www.thomasnelson.com/about-us/permissions/#permissionBiblesmartphone" target="_blank" rel="noopener noreferrer">See more info about usage of the NKJV here</a> </p>
    <br>
    <h2>NLT Notice</h2>
    <p>Scriptures marked NLT are taken from the HOLY BIBLE, NEW LIVING TRANSLATION (NLT): Scriptures taken from the HOLY BIBLE, NEW LIVING TRANSLATION, Copyright© 1996, 2004, 2007 by Tyndale House Foundation. Used by permission of Tyndale House Publishers, Inc., Carol Stream, Illinois 60188. All rights reserved. Used by permission.</p>
    <br>
    <h2>RSV Notice</h2>
    <p>Scriptures marked RSV are taken from the REVISED STANDARD VERSION (RSV): Scripture taken from the REVISED STANDARD VERSION, Grand Rapids: Zondervan, 1971.</p>
    <br>
    <h2>WEB Notice</h2>
    <p>Note: Only canonical books available</p>
    <p>Scriptures marked WEB are taken from THE WORLD ENGLISH BIBLE (WEB): WORLD ENGLISH BIBLE, public domain.</p>
    <br>
    <h2>YLT Notice</h2>
    <p>Scripture quotations marked “YLT” are taken from The Young’s Literal Translation Bible (Public Domain).</p>
    <br>
</div>
{% endblock %}