{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    {{ super() }}
    {{ js_resources|indent(3)|safe }}
    {{ css_resources|indent(3)|safe }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

{% endblock %}
{% block content %}
    <div class="container-fluid mw-100">
    <form method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.select_book) }}
        {{ wtf.form_field(form.submit_book) }}
        <br>
        {{ wtf.form_field(form.select_chapter) }}
        {{ wtf.form_field(form.submit_chapter) }}
    </form>
    </div>
{% endblock %}