{% extends "base.html" %}
{% import "form_make.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container-fluid mw-100">
        <script>var book = "{{ book }}";var chapterNumber = {{ chapter }};</script>
        <form method="POST" role="presentation">
            {{ form.hidden_tag() }}
            {{ wtf.form_field(version_select.select_version, size=4) }}
            <br>
            {{ wtf.form_field(form.book) }}
            {{ wtf.form_field(form.chapter) }}
            {{ wtf.form_field(form.submit) }}
            {% if error_mess %}
                {{ error_mess }}
            {% endif %}
        </form>
    </div>
{% endblock %}