{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ title }}{% endblock %}
{% block styles %}
    {{ super() }}
    {{ js_resources|indent(3)|safe }}
    {{ css_resources|indent(3)|safe }}
    {% if plot_script %}
        {{ plot_script|indent(3)|safe }}
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

{% endblock %}
{% block content %}
    <div class="container-fluid mw-100">
        <div>
            <h4>
                {{ select_book }}
            </h4>
        </div>
    </div>
    <form method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.select_book, size=7) }}
        {{ wtf.form_field(form.submit_book) }}
    </form>
    <form method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.select_chapter, size=7) }}
        {{ wtf.form_field(form.submit_chapter) }}
    </form>

{% endblock %}