{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container-fluid mw-100">
        <div align="center">
            <input class="passage-form" type="text" id="search-box" placeholder="Type to search..." style="width: 70%">
            <select class="passage-form" id="version-selection">
                {% for version in versions %}
                    <option {% if version == 'KJV' %}selected{% endif %} value="{{version}}">{{version}}</option>
                {% endfor %}
            </select>
        </div>
        <ul id="search-results" style="list-style-type:none;"></ul>

    </div>

    <script type="text/javascript" async="" src="{{ url_for('static', filename='search.js') }}"></script>

{% endblock %}