name: Pylint
permissions:
  contents: read

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint Flask Brotli multi_bible_search Flask-WTF requests multipledispatch WTForms beautifulsoup4
    - name: Analysing the code with pylint
      run: |
        pylint $(git ls-files '*.py')
